<% layout('layout') -%>
<h2>Login</h2>
<form method="post" action="/auth/login">
  <label>Email <input name="email"/></label><br/>
  <label>Password <input name="password" type="password"/></label><br/>
  <button>Login</button>
</form>
